{% extends "site.html" %}
{% block title %}Delete Item{% endblock %}

{% block body %}
<div class="pure-g pure-u-1"><h2>Original content:</h2></div>
<div class="pure-g pure-u-1">
    <div class="pure-u-1"><h3>Item: {{ item.name }}</h3></div>
    <div class="pure-u-1-5">ID: {{ item.id }}</div>
    <div class="pure-u-2-5">Description: {{ item.description }}</div>
    <div class="pure-u-1-5">Category: {{ item.category.name }}</div>
</div>

<div class="pure-g pure-u-1">
    <form class="pure-form-stacked" action="/item/{{item.id}}/" method="post">
        <fieldset>
                <input type="hidden" name="requestType" value="delete">
                <h2>Are you sure?</h2>
                <button type="submit" id="submit" type="submit">Delete</button>
        </div>
    </form>
</div>
{% endblock %}
