{% extends "site.html" %}
{% block title %}Edit Item{% endblock %}

{% block body %}
<div class="pure-g pure-u-1"><h2>{{ "Edit Item \"%s\"" % item.name }}</h2></div>
<div class="pure-g pure-u-1">
    <img src="{{ url_for('uploaded_file', filename=item.image.filename) }}"
        alt="{{ item.image.original_name }}"
        style="width:100px;height:100px"></td>
</div>
<div class="pure-g pure-u-1"><h4>Original content:</h4></div>
<div class="pure-g pure-u-1">
    <div class="pure-u-1-5">ID: {{ item.id }}</div>
    <div class="pure-u-1-4">Item: {{ item.name }}</div>
    {% if item.category %}
    <div class="pure-u-1-4">Category: {{ item.category.name }}</div>
    {% else %}
    <div class="pure-u-1-4">Category: None</div>
    {% endif %}
    <div class="pure-u-1-4">Description: {{ item.description }}</div>
</div>
<div class="pure-g pure-u-1"><br></div>
<form class="pure-form-aligned pure-g pure-u-1" action="{{ url_for('view_item', id=item.id) }}"
    enctype="multipart/form-data" method="post">
    <input type="hidden" name="requestType" value="edit">
    {{ form.csrf_token }}
    {{ form.form_id }}
    <fieldset>
        <legend>Enter new information</legend>
        <div class="pure-control-group">
            {{ form.name.label }} {{ form.name(size=20) }}
        </div>
        <div class="pure-control-group">
            {{ form.category.label }}
            {% if item.category %}
            <input type="text" name="category" list="categories" value="{{item.category.name}}" required>
            {% else %}
            <input type="text" name="category" list="categories" required>
            {% endif %}
            <datalist id="categories">
                {% for c in cats %}
                <option value={{ c.name }}>
                {% endfor %}
            </datalist>
        </div>
        <div class="pure-control-group">
            {{ form.description.label }} {{ form.description() }}
        </div>
        <div class="pure-control-group">
            {{ form.image.label }} {{ form.image() }}
        </div>
        <div class="pure-controls">
            <button type="submit" id="submit" type="submit">Update</button>
        </div>
    </fieldset>
</form>
{% endblock %}
