{% extends "site.html" %}
{% block title %}Edit Item{% endblock %}

{% block body %}

<h2>{{ "Edit Item \"%s\"" % item.name }}</h2>
<h2>Original content:</h2>
<div>{{ "%s %s %s %s" % (item.id, item.name, item.category_id, item.description) }}</div>

<div class="form">
    <form action="/item/{{item.id}}/" method="post">
        <input type="hidden" name="requestType" value="edit">
        <fieldset>
            <legend>Item information</legend>
            Item Name:<br>
            <input type="text" name="itemName" value="{{item.name}}"><br>
            Category ID:<br>
            <input type="text" name="category_id" value="{{item.category_id}}"><br>
            Description:<br>
            <input type="text" name="description" value="{{item.description}}"><br><br>
            <button type="submit" id="submit" type="submit">Create</button>
        </fieldset>
    </form>
</div>

{% endblock %}
