{% extends "site.html" %}
{% block title %}Delete Item{% endblock %}

{% block body %}
<div class="row"><h2>Original content:</h2></div>
<div class="row">
    <h3> <div class="name col-md-12">Item: {{ item.name }}</div></h3>
    <div class="col-sm-4">Description: {{ item.description }}</div>
    <div class="col-sm-2">ID: {{ item.id }}</div>
    <div class="col-sm-2">Category: {{ item.category_id }}</div>
</div>

<div class="form">
    <form action="/item/{{item.id}}/" method="post">
        <input type="hidden" name="requestType" value="delete">
        <h2>Are you sure?</h2>
        <button type="submit" id="submit" type="submit">Delete</button>
    </form>
</div>
{% endblock %}
