<!doctype html>
<html>

<head>
<title>Catalog - {% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pure-release-0.6.0/pure-min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pure-release-0.6.0/grids-responsive-min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pure-release-0.6.0/grids-responsive-min.css') }}">
<link rel="alternate" href="{{ url_for('recent_feed', _external=True) }}" type="application/atom+xml">
</head>
<body>
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="header">
    <div class="pure-menu pure-menu-horizontal">
        <a class="pure-menu-heading pure-menu-link" href="{{ url_for('view_main') }}">Main</a>
        <ul class="pure-menu-list">
            <li class="pure-menu-item">
                <a class="pure-menu-link" href="{{ url_for('view_items') }}">Items</a>
            </li>
            <li class="pure-menu-item">
                <a class="pure-menu-link" href="{{ url_for('view_category_list') }}">Categories</a>
            </li>
            {% if 'user_info' in login_session.keys() %}
                <li class="pure-menu-item">
                    <a class="pure-menu-link" href="{{ url_for('view_item_new') }}">Add Item</a>
                </li>
                <li class="pure-menu-item">
                    <a class="pure-menu-link" href="{{ url_for('view_user', id=login_session['user_info']['user_id']) }}">Profile</a>
                </li>
                <li class="pure-menu-item">
                    <a class="pure-menu-link" href="{{ url_for('view_logout') }}">Logout</a>
                </li>
            {% else %}
                <li class="pure-menu-item">
                    <a class="pure-menu-link" href="{{ url_for('view_login') }}">Login</a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>


<div class="pure-g pure-u">
    {% block flash %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="pure-g pure-u-1">
                        <li>{{ message }}</li>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    {% endblock %}
</div>
{% block body %}
{% endblock %}
</body>
</html>
