{% extends "site.html" %}

{% block title %}User Details{% endblock %}
{% block body %}
<div class="row">
<div class="col-sm-4"><img src="{{ user.picture }}" alt="users picture"></div>
<div class="col-sm-8">
    <div class="row"><h2>Name: {{ user.name }}</h2></div>
    <div class="col-sm-2">ID: {{ user.id }}</div>
    <div class="col-sm-2">provider: {{ user.provider }}</div>
</div>
</div>
{% if items != None %}
    <div class="row"><h3>Items:</h3></div>
    <div class="row">
        {% for i in items %}
            <a href={{url_for('view_item', id=i.id)}}>{{ i.name }}</a>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}
